name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-test:
    name: Build and Test (Node.js ${{ matrix.node.name }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node:
          - name: Current LTS
            version: lts/*
          - name: Current
            version: current
          - name: Previous LTS
            version: lts/-1
    steps:
      - name: Install libmodsecurity
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libmodsecurity-dev

      - name: Check out the code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node.version }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test
