name: Publish Package

on:
  release:
    types:
      - released
  workflow_dispatch:

permissions:
  contents: read

jobs:
  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    environment: NPM
    permissions:
      contents: read
      statuses: write
      id-token: write
    steps:
      - name: Set commit status to PENDING
        uses: myrotvorets/set-commit-status-action@3730c0a348a2ace3c110851bed53331bc6406e9f # v2.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          status: pending
          context: Publish to NPM
          sha: ${{ github.sha }}

      - name: Checkout source
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Set up Node.js environment
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*
          cache: npm
          registry-url: https://registry.npmjs.org/

      - name: Publish package
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Set final commit status
        uses: myrotvorets/set-commit-status-action@3730c0a348a2ace3c110851bed53331bc6406e9f # v2.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
          context: Publish to NPM
          sha: ${{ github.sha }}
